:root{
  background-color: #C2E5D3;
  font-family: 'Inter', sans-serif;
  font-style: normal;
}
body{
  overflow: hidden;
}
.app{
 max-width: 1300px;
 width:100%;
  overflow: hidden;
}
.size{
  width: 100%;
  height: 100%;
  position: absolute;
  
  top: 100px;
  z-index: -20;
}